@keyframes animateModalBox {
  from {
    top: 0;
  }
  to {
    top: 25%;
  }
}

.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

.modal-active {
  display: block;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.2);
}

.modal-close {
  position: absolute;
  top: calc(25% - 2.5rem);
  left: calc(70% - 2rem);
  height: 2rem;
  width: 2rem;
  background-color: var(--color-bg);
  border: none;
  z-index: 101;
  padding: 0.25rem;
  animation: animatePopup 200ms linear forwards;
}

.modal-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 25%;
  left: 30%;
  height: 20rem;
  width: 40%;
  background-color: var(--color-bg);
  border-radius: 0.4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  z-index: 101;
  padding: 1.2rem 1.5rem 0.5rem;
  animation: animatePopup 200ms linear forwards;
}

.modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-box .form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.modal-box .form .form-field {
  margin: 0.5rem 0 1.2rem;
  padding: 0.6rem;
  border: 0;
  border-radius: 0.4rem;
}

.modal-box input,
.modal-box select {
  background: var(--color-bg-variant);
  color: var(--color-white);
}

.modal-box input::placeholder {
  color: var(--color-light);
}

.modal-box .label-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-action {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
  margin: 0.5rem 0 1rem;
}

/* ===== MEDIA QUERIES (MEDIUM) ===== */
@media screen and (max-width: 1024px) {
  .modal-close {
    left: calc(80% - 2rem);
  }

  .modal-box {
    left: 20%;
    width: 60%;
  }
}

/* ===== MEDIA QUERIES (SMALL) ===== */
@media screen and (max-width: 600px) {
  .modal-close {
    left: calc(90% - 2rem);
  }

  .modal-box {
    left: 10%;
    width: 80%;
  }
}
